################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonoRepoTest/.vs/MonoRepoTest
/MonoRepoTest/ClassLibrary1/obj
/MonoRepoTest/ClassLibrary2/obj
/MonoRepoTest/ClassLibrary3/obj
/MonoRepoTest/Nested/ClassLibrary4/obj/Debug/net7.0
/MonoRepoTest/Nested/ClassLibrary5/obj/Debug/net7.0
